.button {
    display: block;
    width: 115px;
    height: 25px;
    background: #28c430;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    float: left;
    margin-right: 10px;
}

.red {
    background: #f00;
}

.green {
    background: #0f0;
}

.Blue {
    background: rgb(0, 255, 242);
}

#doorPic {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.holy-grail-grid>footer {
    grid-area: footer;
    background: #72c2f1;
    display: flex;
    justify-content: space-around;
}

p {
    font-size: 16px;
}

.pink {
    background: pink
}

.brown {
    background: brown
}

.gold {
    background: gold
}

.purple {
    background: purple
}

.cyan {
    background: cyan
}

.black {
    background: black
}
.grey {
    background: grey
}
.darkgreen {
    background: darkgreen
}