.button {
    display: block;
    width: 115px;
    height: 25px;
    background: #28c430;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    float:left; 
    margin-right:10px;
}
.red {
    background: rgb(145, 7, 7);
}
.green {
    background: rgb(6, 102, 38);
}
.yellow {
    background: rgb(0, 0, 0);
}

#doorPic {
    width:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
#center {
    width:50%;
}
.holy-grail-grid>header {
    grid-area: header;
    background: #72c2f1;
    text-align: center;
}

.holy-grail-grid>main {
    grid-area: main-content;
    background: #80a195b0;
}

.holy-grail-grid>section {
    grid-area: left-sidebar;
    background: #405aa3;
}

.holy-grail-grid>aside {
    grid-area: right-sidebar;
    background: #405aa3;
}

.holy-grail-grid>footer {
    grid-area: footer;
    background: #72c2f1;
    display: flex;
    justify-content: space-between;
}