.button {
    display: block;
    width: 115px;
    height: 25px;
    background: #9496aa;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    float:left; 
    margin-right:10px;
}
.red {
    background: rgb(177, 171, 171);
}
.green {
    background: rgb(225, 228, 225);
}
.yellow {
    background: rgb(245, 230, 21);
}


#escortedimage {
    width:80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}